body  {  	
	margin: 0;  	
	padding: 0;  	
	background: #ddd;  
}    
#container  {  	
	margin: 1em auto;  	
	width: 90%;  	
	background: #fff;  
}    
#header {
	background: #000000;

}  
#image {
	text-align: center;
    vertical-align: middle;
    display: table-cell;
	width: 60%;
	/*height: 150px;*/
	float: left; 
}
#image img {
        width: 50%;
                
}

#mainDescription  {  
	margin-right: 30px;	
	float: right;  	
	width: 35%;  	
	background: #FFFFFF;  
	}    
.floating-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    /*border: 2px solid #000000;  */
}
#related  {  	
	display: inline-block;
	background: #FFFFFF;  	
	}    
#footer  {  	
	clear: both;  	
	background: #FF9;  
	}
h1 {
	text-align: center;
	color: white;
} 

a{
	font-size: 60%;
	font-weight: bold;
}

span.mainPrice{
	font-size: 200%;
	color: red;
	font-weight: bold;
}
p.price{
	font-size: 100%;
	color: red;
	font-weight: bold;
	text-align: center;
}

p.small{
	font-size: 60%;
	text-align: left;
}

p{
	text-align: justify;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}